Package: uos-packaging-tools
Version: 1.2.1
Architecture: all
Maintainer: shenmo<shenmo@spark-app.store>
Installed-Size: 10
Depends: libnotify-bin,fakeroot,zstd,policykit-1,zenity
Section: graphics
Priority: optional
Description: uos-packaging-tools
