[Desktop Entry]
Categories=Development;
Encoding=UTF-8
Exec=/opt/uos-packaging-tools/directory-create %U
Icon=uos-packaging-tools
MimeType=application/vnd.debian.binary-package;application/x-deb;
Name=生成目录
StartupWMClass=生成目录
Terminal=false
Type=Application
NoDisplay=true
