[Desktop Entry]
Categories=Development;
Encoding=UTF-8
Exec=/opt/uos-packaging-tools/flap-extractor %F
Icon=uos-packaging-tools
MimeType=application/vnd.flatpak,application/vnd.xdgapp;application/octet-stream;
Name=解包 Flatpak
NoDisplay=false
StartupWMClass=解包Flap
Terminal=false
Type=Application
