[Desktop Entry]
Categories=Development;
Encoding=UTF-8
Exec=/opt/uos-packaging-tools/just-repack-me %F
Icon=uos-packaging-tools
MimeType=application/vnd.debian.binary-package;application/x-deb;
Name=重打包
StartupWMClass=重打包
Terminal=false
Type=Application
NoDisplay=true
