[Desktop Entry]
Categories=Development;
Encoding=UTF-8
Exec=/opt/uos-packaging-tools/just-X-me %F
Icon=uos-packaging-tools
MimeType=application/vnd.debian.binary-package;application/x-deb;
Name=直接解包
NoDisplay=false
StartupWMClass=直接解包
Terminal=false
Type=Application
