[Desktop Entry]
Categories=Development;
Encoding=UTF-8
Exec=pkexec /opt/uos-packaging-tools/just-install-me %F
Icon=uos-packaging-tools
MimeType=application/vnd.debian.binary-package;application/x-deb;
Name=Install
Name[zh_CN]=安装
StartupWMClass=Install
Terminal=false
Type=Application
NoDisplay=true
