[Desktop Entry]
Exec=/usr/bin/packdeb %F
Name=Pack This Dir
Icon=uos-packaging-tools
Type=Application
X-DFM-MenuTypes=SingleFile;SingleDir;MultiFileDirs;
Terminal=true
MimeType=inode/directory;
NoDisplay=false
