[Desktop Entry]
Exec=/usr/bin/packdeb %p
Name=Pack Here
Icon=uos-packaging-tools
Type=Application
X-DFM-MenuTypes=EmptyArea;
Terminal=true
MimeType=inode/directory;
NoDisplay=true
Version=1.0
X-DDE-FileManager-NotShowIn=Desktop
