[Desktop Entry]
Exec=/usr/bin/packdeb %F
Name=Pack This Dir
Icon=uos-packaging-tools
Type=Application
X-DFM-MenuTypes=SingleDir;MultiFileDirs;
Terminal=true
MimeType=inode/directory;
NoDisplay=true
X-DDE-FileManager-PosNum=1
